<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <article>
                <header>
                    <h2>Hello, {{user.fullName}}!</h2>
                </header>

                <p>Your email is <a href="mailto:{{user.email}}">{{user.email}}</a>.</p>
                <p>Have a nice day! :)</p>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>